*{
    box-sizing: border-box;
}
.box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header1{
    width: 1400px;
    height: 80px;
    background-color:white;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.kapitalbank{
background-color: white;
width: 150px;
height: 50px;
padding-top: 30px;
position: absolute;

}
.a1{
    width: 150px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 700px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b{
    width: 75px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 701px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c{
    width: 150px;
    height: 48px;
    background-color: white;
    position: relative;
    left: 702px;
    padding-top: 37px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.d{
    width: 30px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 703px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e{
    width: 30px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 704px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f{
    width: 50px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 705px;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    width: 15px;
    height: 15px;
}
.img1{
    width: 17px;
    height: 17px;
}
.icon{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    border-color: #f45369;
    
}

.navbar__ul{
    display: flex;
    list-style: none;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    height: 100%;
}

.navbar__li + .navbar__li{
margin-left: 10px;

}
.navbar__li{
cursor: pointer;
font-family: 'Source Sans 3', sans-serif;
font-weight: 400;
color: #2e3131;
font-size: 14px;
height: 100%;
 display: flex;
align-items: center;
border-bottom: 2px solid transparent;
}





.navbar__li:hover{
border-bottom: 2px solid #f45369;
    }










.navbar{
    display: flex;
    justify-content: space-between;
 align-items: center;
 
height: 66px;
align-items: center;
}


.relative{
position: relative;
}
.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.navMain{
    background: #e8ecf1;
    font-family: 'Source Sans 3', sans-serif;
 }

.hiddenSection{
    position: absolute;
width: 100%;
 
left: 0;
display: none;

top: 66px;
left: 0;
filter: drop-shadow(0 30px 53px rgba(0, 0, 0, .07));
background: white;


}

.hiddenSection__main{
     display: flex;
    justify-content: space-between;
}


.hiddenSection__item_little{
    background: #f6f8fb;
    width: 560px;
 display: flex;
 justify-content: space-between;
padding: 30px;

}
.hiddenBirbanWrapper{
    display: flex;
    justify-content: space-between;
}
.hiddenBirbanWrapper__text{
    font-size: 14px;
}
.hiddenBirbanWrapper__heading{
    font-size: 24px;
    font-weight: bold;
}
.hiddenBirbanWrapper__part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.hiddenBirbanWrapper__burron{
    width: 280px;
    background-color: #f45369;
    border-radius: 8px;
    display: inline-block;
    padding: 11px 20px 14px;
    font-size: 24px;
    color: #fff !important;
    line-height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .3s linear;
}

.hiddenSection__ulWrapper{
    display: flex;
padding-top: 40px;
}

.hidddenSection__ul{
    padding: 0;
    list-style: none;

}


.hidddenSection__ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.hidddenSection__ul li:hover{
color: #f45369;
}

.hidddenSection__ul + .hidddenSection__ul{
    margin-left: 60px;
}

.hiddenSectionFlex{
    display: flex;
    justify-content: space-between;
 }

 .navbar__li:hover .hiddenSection{
display: block;
 }


 .navbar__button{
    background-color: #f45369;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .3s linear;
    font-weight: 700;
    width: 95px;
    height: 43px;
 }

 .container_life{
    width: 100%;
    height: 400px;
    background-color: #e8ecf1;
    margin-top: 10px;
    position: absolute;
    z-index: -1;
}


 .content_life{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.content1{
color: #2e3131;
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-left: 60px;
padding-top: 60px;
}
.content2{
    position: relative;
    padding-left: 60px;
    padding-top: 70px;
}
.button_life{
    background-color: #f45369;
    color: #ffffff;
    width: 255px;
    height: 55px;
    border: #f45369;
    border-radius: 8px;
    font-size: 18px;
}
.content3{
    position: relative;
    left: 650px;
    top: -220px;
}
.image_life{
    width: 470px;
    height: 270px;
}



.container_cards{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 380px;
}

.content_cards{
    width: 1040px;
    height: 200px;
    background-color: #f9fafbe3;
    margin-top: 350px;
    position: relative;
    left: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}
.div1{
    width: 170px;
    height: 150px;
    background-color: white;
    margin-right: 30px;
    border-radius: 10%;
    margin-left: 30px;

}
.div2{
    width: 170px;
    height: 150px;
    background-color: white;
    margin-right: 30px;
    border-radius: 10%;
}
.div3{
    width: 170px;
    height: 150px;
    background-color: white;
    margin-right: 30px;
    border-radius: 10%;
}
.div4{
    width: 170px;
    height: 150px;
    background-color: white;
    margin-right: 30px;
    border-radius: 10%;
}
.div5{
    width: 170px;
    height: 150px;
    background-color: white;
    margin-right: 30px;
    border-radius: 10%;
}
.p_cards{font-size: 14px;
text-align: center; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image_cards{
    width: 50px;
    margin-left: 60px;
    margin-top: 40px;
    padding-bottom: 15px;
}

.container_cashback{ 
     width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.content_cashback{

    margin-top: 50px;
    width: 2000px;
    height: 340px;
    background-color:#ffffff;
    position: absolute;

}
.h_cashback{
    margin-left: 60px;
    font-size: 35px;
    color: #2e3131;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p_cashback{
    margin-left: 60px;
    font-size: 20px;
    color: #2e3131;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.span{
    color: #f45369;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.item{
    width: 100%;
    height: 200px;
    padding-left: 60px;
    background-color:#e8ecf1;
    display: flex;
    flex-direction: row;
    
}
.item1{
    width: 350px;
    height: 100px;
    background-color:#e8ecf1 ;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 
.item2{
    width: 150px;
    height: 100px;
    background-color:#e8ecf1 ;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item3{
    width: 150px;
    height: 100px;
    background-color: #e8ecf1;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item4{
    position: relative;
    bottom: 80px;
}
.image_cashback{
    width: 300px;
    height: 320px;
}
.button_cashback{
    width: 300px;
    height: 55px;
    background-color: #f45369;
    color: #ffffff;
    border: #f45369;
    border-radius: 8px;
    font-size: 24px;
    position: relative;
    left: 55px;
    margin-top: -80px;
}


.container_credit{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.content_credit{
    height: 340px;
    background-color:#ffffff;
    margin-top: 500px;
}
.h_credit{
    font-size: 35px;
    color: #2e3131;
    padding-left: 420px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p_credit{
    font-size: 20px;
    color: #2e3131;
    padding-left: 420px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item_credit{
    width: 100% ;
    height: 200px;
    background-color:#e8ecf1;
    display: flex;
    flex-direction: row;
   
    
}
.item6{
    width: 300px;
    height: 100px;
    background-color:#e8ecf1 ;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item7{
    width: 300px;
    height: 100px;
    background-color:#e8ecf1 ;
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item8{
    width: 300px;
    height: 100px;
    background-color: #e8ecf1;
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button_credit{
    width: 300px;
    height: 55px;
    background-color: #f45369;
    color: #ffffff;
    border: #f45369;
    border-radius: 8px;
    font-size: 24px;
    position: relative;
    left: 800px;
    top: -70px;
}
.image_credit{
    width: 450px;
    height: 350px;
    position: relative;
    top: -100px;
    right: 60px;

    
}

.container_calculator{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content_calc{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    margin-top: 100px;
    position: absolute;
}

.h_calculator{
    font-size: 40px;
    color: #2e3131;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 60px;

}
.button_calc_red{
    width: 90px;
    height: 35px;
    background-color: #f45369;
    color: #2e3131;
    border: #f45369;
    border-radius: 20px;
    margin-left: 60px;
    font-size: 16px;

}
.button_calc{
    width: 120px;
    height: 35px;
    background-color: #e8ecf1;
    color: #2e3131;
    border-radius: 20px;
    border: #e8ecf1;
    margin-left: 20px;
    font-size: 16px;
}
.heading_calculator{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 60px;
    color: #2e3131;
    padding-top: 30px;
}
.p_calculator{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 60px;
    color: #2e3131;
    padding-top: 20px;
}

.content_range{
    margin-left: 60px;


}
.c_range1{
    width: 600px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    /* margin-top: 230px; */
    margin-bottom: 40px;
   
}
.c_range2{
    width: 600px;
    height: 60px;
    background-color: white;
    border: 1px solid  rgb(156, 155, 155);
    border-radius: 8px;
    /* margin-top: -240px; */
    /* margin-left: 60px; */
    margin-bottom: 40px;
}
.c_range3{
    width: 600px;
    height: 60px;
    background-color: white;
    border: 1px solid rgb(156, 155, 155);
    border-radius: 8px;
    /* margin-left: 60px; */
    /* margin-top: 50px; */

}
.text_range{
    font-size: 12px;
    color: rgb(156, 155, 155) ;
    padding-top: 5px;
    padding-left: 13px;
}
.text2_range{
    font-size: 17px;
    padding-left: 13px;
    margin-top: -10px;
}

.text3_range{
    font-size: 14px;
    padding-top: 5px;
    margin-top: -13px;

}

.text4_range{
    font-size: 14px;
    padding-left: 550px;
    margin-top: -17px;

}

input[type=range]  {
    margin-top: -15px;
    width: 600px;
    height: 1px;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 20px; 
}
 
input[type=range]::-webkit-slider-thumb {
    background: #f45369;
    border: 3px solid white;
    border-radius: 10px/100%;
    cursor: pointer;
    width:15px;
    height: 15px;
    -webkit-appearance: none;
    margin-top: -4px;
  }

  input[type=range]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     outline: none;
    overflow: hidden;
    height: 3px;

  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background-color: #e8ecf1;
    width:15px;
    height: 15px;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #f45369;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: -200px  0 0 200px  #f45369;
    width:20px;
    height: 20px;
  }

.content_box{
    width: 350px;
    height: 300px;
    background-color:#ffffff;
    border: 1px solid #666b6b75;
    border-radius: 3%;
    position: relative;
    left: 855px;
    top: 350px;
    text-align: center;
}
.p_box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #2e3131;
    padding-top: 18px;
}
.h_box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: #f45369;
    padding-top: 30px;
    
}
.button_box{
    width: 280px;
    height: 50px;
    background-color: #f45369;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    margin-top: 40px;
}


.container_block{
    width: 100%;
    margin-left: 160px;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-top: 500px;
    position: absolute;

}
.content_block_gray{
    width: 700px;
    height: 300px;
    background-color: #e8ecf1;
    margin-right: 30px;
    border-radius: 15px;
    

}
.content_block_red{
    width: 700px;
    height: 300px;
    background-color: #ef3e42;
    border-radius: 15px;
    
}
.h_block_gray{
    font-size: 33px;
    font-family: sans-serif;
    color: #2e3131;
    padding-left: 60px;
    padding-top: 20px;
}
.h_block_red{
    font-size: 33px;
    font-family: sans-serif;
    color: #ffffff;
    padding-left: 60px;
    padding-top: 20px;
}
.p_block_gray{
    font-size: 14px;
    font-family: sans-serif;
    color: #2e3131;
    padding-left: 60px;
}
.p_block_red{
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    padding-left: 60px;
    
}
.image_block_g{
   position: relative;
   top: -275px;
   left: 320px;

}
.image_block_r{
    width: 200px;
    height: 230px;
    position: relative;
    top: -205px;
    left: 350px;
}

.content_news{
    width: 100%;
    height: 250px;
    background-color: #e8ecf1;
    margin-top: 900px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;

}
.h_news{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 40px;
    font-family:sans-serif;
    color: #2e3131;
}

.c_news{
    width: 200px;
    height: 100px;
    margin-top: 70px;
    color: #2e3131;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    right: 450px;
    

}
.c2_news{
    width: 200px;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
    color: #2e3131;
    font-size: 16px;
    position: relative;
    right: 310px;
}
.c3_news{
    width: 200px;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
    color: #2e3131;
    font-size: 16px;
    position: relative;
    right: 170px;
}
.icon1{
    width: 60px;
    height: 60px;
    background-color: #e8ecf1;
    position: relative;
    bottom: -90px;
    left: -200px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    padding-top: 3px;
    color: #2e3131;
    border: 2px solid #f45369;
}
.icon2{
    width: 60px;
    height: 60px;
    background-color: #e8ecf1;
    position: relative;
    bottom: -90px;
    left: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    padding-top: 3px;
    color: #2e3131;
    border: 2px solid #f45369;
}

.icon3{
    width: 60px;
    height: 60px;
    background-color: #e8ecf1;
    position: relative;
    bottom: -90px;
    left: 360px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    padding-top: 3px;
    color: #2e3131;
    border: 2px solid #f45369;
}

.content_currency{
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    margin-top: 1200px;
    margin-left: 60px;
    position: absolute;
}
.table{
    width: 550px;
    height: 160px;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2e3131;
}
.h_currency{
    padding-top: 10px;
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #2e3131;
}
.p_currency{
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    color: #2e3131;
}
.p_more{
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #f45369;
    padding-top: 15px;
    
}

.content_table{
    width: 500px;
    height: 320px;
    background-color: #e8ecf1;
    position: relative;
    top: -400px;
    left: 750px;
    border-radius: 15px;
}
.button_red{
    width: 150px;
    height: 40px;
    background-color: #f45369;
    border-radius: 12px;
    color: #ffffff;
    
    margin-top: 35px;
    margin-left: 95px;
    border: 4px solid white;
}
.button_gray{
    width: 150px;
    height: 40px;
    background-color: #e8ecf1;
    border-radius: 12px;
    color: #2e3131;
    
    border: 4px solid white;
}
.text2{
    width: 400px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 45px;
    border-radius: 10px;
    border-color: #ffffff;

}
.table2{
    width: 550px;
    height: 120px;
    font-size: 30px;
    margin-top: 20px;
    color: #2e3131;
}
.p_table{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2e3131;
    margin-left: 170px;
    padding-top: 30px;
}

.container_banner{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;

}
.banner{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    left: 1200px;
    top: 530px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
}
.image_ban{
    width: 43px;
    height: 43px;
    margin-top: 8px;
}


.footer{
    width: 100%;
    height: 600px;
    background-color: #2e3131;
    margin-top: 1700px;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: #ffffff;
    line-height: 30px;
    
    
}
.li_footer{
    width: 150px;
    
    margin-right: 80px;
    
}
.li2_footer{
    width: 150px;
    margin-right: 80px;
}
.li3_footer{
    width: 150px;
    margin-right: 80px;
}
.li4_footer{
    width: 150px;
    margin-right: 80px;
}

.c_footer{
    position: relative;
    left: 50px;
    text-align: center;
}

.content_footer{
    width: 150px;
    height: 40px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 30px;

}
.text_footer{
    padding-top: 0;
    font-size: 12px;
    color: #2e3131;
    font-weight: bold;
    margin-top: -33px;
}
.text_footer2{
    font-size: 10px;
    color: #2e3131;
    margin-top: -16px;

}
.image_footer{
    width: 18px;
    margin-left: -100px;
    margin-top: 7px;
}
