@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,602;1,602&display=swap');




* {
    margin:0;
    padding:0;
}
.header{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items:center;
    cursor: pointer;
}
.headerlist {
    font-family: sans-serif;
    display: flex;
    font-size:15px;
    list-style: none;
    margin-right:100px;
}
.headerlist li {
   padding-left:20px;
}
.headerlist li:hover {
    color:#f45369;
    transition: 0.5s;
}
#boldheader {
    font-weight:bold;
}
.navbar {
    margin-top:20px;
    background-color:rgba(238, 233, 233, 0.894);
    font-family: sans-serif;
    font-size:20px;
    padding:10px;
    position:relative;
}

.container {
    width:90%;
}
.wrapper {
    display:flex;
    font-size:15px;
    align-items:center;
    padding-left:5px;
}
.navbar ul {
display:flex;
list-style: none;
}
.navbar ul li {
    padding-left:30px;
    margin-left:10px;
    cursor: pointer;
}
.navbar ul li:hover {
    color:#f45369;
    transition: 0.5s;
}
.birbank {
    background-color:#f45369;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:2px 10px;
    padding-right:15px;
    border-radius: 20px;
    margin-left:140px;
    cursor:pointer;
}
.birbank:hover {
    background-color: red;
    transition:0.5s;
}
.birbank span {
    color:white;
}
.hidsection {
    display:flex;
    justify-content: space-between;
    position:absolute;
    top:58px;
    right:0px;
    align-items: center;
    background-color:white;
    width:100%;
    height:250px;
    display:none;
}
.kartlar:hover~.hidsection {
    display:flex;
}
.listwrapper {
    display: flex;
    width:55%;
    align-items:center;
    font-size: 17px;
    font-family:'Source Sans 3';
    font-weight:600px;
    padding-bottom:60px;
    padding-left:20px;
}
.list2 {
    margin-left:30px;
}
.birkart {
    width: 130px;
    height:200px;
    margin-right: 90px;
}
.cashbackcontainer{
    display: flex;
    justify-content: space-between;
    width:45%;
    background-color: #f4f4f4;
    padding-top:24px;
    padding-bottom:24px;
    padding-left:20px;
}
#cashback_text {
    width:250px;
    margin-top:15px;
}
#birbank_text{
    font-size:25px;
    margin-top:15px;
}
.birklik_btn {
    background-color: #f45369;
    color:white;
    font-weight:50px;
    align-items: center;
    border-radius: 10px;
    padding:10px;
    font-size:15px;
    margin-left:120px;
    font-family:'Source-Sans 3';
    border-style:none;
}
.kapital_section {
    margin-top:4px;
    width:100%;
    height:450px;
    background-color:rgba(238, 233, 233, 0.894);
}
.banner_text{
    align-items: center;
}
.banner_text h1 {
    font-size:30px;
    font-weight: 10px;
}