.relative{
    position: relative;
}


.container{

    width: 80%;
    margin-right: auto;
    margin-left: auto;
}



.navMain{
background: #e8ecf1;
font-family: 'Source Sans 3'sans-serif;
}
.hiddenSection{
   position: absolute; 
   width: 100%;
   left: 0;
   display: none;
   top: 66px;
   left: 0;
   filter: drop-shadow(0 30px 53px rgba(0,0, .07));
background: white;
}
 
.hiddenSection__main{
display: flex;
justify-content: space-between;


}
.hiddenSectionFlex{
  display: flex; 
  justify-content: space-between; 
}




    


.hiddenSection{
position: absolute;
width: 100%;
left: 0%;
display: none;
top: 66px;
left: 0%;
filter: drop-shadow()  ;

}
.element.style{
opacity: 1;
 width: 5792px;

}
.edv{
background-color: #e9ecf0;
padding-top: 35px;
padding-bottom: 35px;
margin-top: 10px;
font-family: 'Source Sans 3', sans-serif;

}
.generalHeading{
font-size: 36px;
line-height: 45px;
font-family: 'Source Sans 3', sans-serif;
font-weight: 400;
margin: 14px;
}
.generalHeading__bold{
font: weight 600 ;


}
.generaltext{
 font-size: 18px;   
 line-height: 23px;
 max-width: 580px;
 margin-bottom: 40px;
 Font-family: 'Source Sans 3', sans-serif;


}

.edv__imageWrapper{
width: 200px;
height: 200px;

}
.edv__aligned{
display:flex ;


}
.edv__redText{

color: #f45369;
Font-family: 'Source Sans 3', sans-serif;
font-size: 28px;
line-height: 35px;
margin-bottom: 5px;
font-weight: 500;
}
.edv__bottomText{
font-size: 16px;
line-height: 24px;
Font-family: 'Source Sans 3', sans-serif;


}

